/* --- header --- */



/* --- footer --- */



/* --- CTA --- */


#cta a {
    width: 75%;
    border-radius: 1rem;
}


/* --- button --- */


#home-page .button {
    display: flex;
    align-items: center;
    width: 25%;
    height: 10%;
}

#home-page .button-logo {
    height: 8rem;
    width: 8rem;
}

#home-page .button-logo::before {
    width: 8rem;
    height: 8rem;
}

#home-page .button-logo a {
    width: 4rem;
    height: 4rem;
}

#home-page .button-title {
    width: 50%;
}


/* --- home-page --- */


#home-page .geralt-name {
    order: -1;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 50%;
    margin: 2rem 25%;
    padding: 2rem;

    border: 2px solid black;
    border-radius: 1rem;

    color: var(--color-text);
    font-size: var(--font-size-character-name);

    background-color: var(--color-background-text);
}

#home-page .geralt-pic {
    height: 30rem;
    width: 30rem;
}


/* --- section-page --- */

#section-page .button,
#section-page .geralt-main,
#section-page .geralt-name {
    display: block;
}


/* --- form-page --- */

.section-bloc {
    display: grid;
    grid-template-columns: 4fr 6fr;
    background-image: url(/assets/main-geralt-pic.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: 25% 42%;
    background-size: 20%;
}

.section-bloc .geralt-pic {
    display: none;
}

.section-bloc .button-title {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.section-bloc .my-story {
    position: relative;
    top: 5%;
    left: 67%;
    width: 22%;
}

.section-bloc .armory {
    position: relative;
    bottom: 5%;
    left: 33%;
    width: 22%;
}


.section-bloc .skills {
    position: relative;
    top: 2%;
    left: 10%;
    width: 22%;
}

.section-bloc .graveyard {
    position: relative;
    top: 5%;
    left: 33%;
    width: 22%;
}

.section-bloc .desktop {
    position: relative;
    bottom: 10%;
    left: 30%;
    width: 22%;
}

.section-bloc .mobile {
    display: none;
}

.section-bloc .button.back {
    width: 5rem;
    height: 5rem;
}

.bloc2 {
    display: flex;
    align-items: center;
    justify-content: center;
}