@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
    --color-cta: #0B5185;
    --color-frame: #314455;
    --color-button: #738186;
    --color-background-title: rgb(86, 100, 112, 0.8);
    --color-background-text: rgb(182, 189, 193, 0.15);
    --color-text-button: rgb(229, 229, 229);
    --color-text-title: rgb(17, 17, 17);
    --color-text: rgb(229, 229, 229);

    --font-family: "Julius Sans One", "Verdana", "Arial", "Garamond", "Calibri";
    --font-family-cta: "Inter", "Verdana", "Arial", "Garamond", "Calibri";
    --font-weight-cta: 900;

    --font-size-button: 1rem;
    --font-size-title: 1.5rem;
    --font-size-character-name: 2rem;
    --font-size-text: 0.8em;
    --font-size-text-form: 0.8rem;

    --big-border-radius: 1rem;
    --little-border-radius: 0.3rem;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background-image: url(/assets/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* --- header & footer --- */


header,
footer {
    z-index: 1;
    position: fixed;

    width: 100%;
    height: 8vh;
    min-height: 3rem;
    background-color: var(--color-frame);

}

header {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 85% 50%, 15% 50%, 0% 100%);

}

/* header::before{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 85% 50%, 15% 50%, 0% 100%);
    content: '';
  width: 100%;
  height: 9vh;
  background-color: var(--color-frame);
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
} */

footer {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 85% 50%, 15% 50%, 0% 0%);
    bottom: 0;
}


/* --- main --- */

main {
    padding: 8vh 0;
}

#home-page,
#form-page {
    height: 82vh;
}

#home-page,
#form-page,
#section-page,
#thank-page,
#error-page {
    filter: drop-shadow(1px 1px 5px rgb(24, 69, 113));
}

/* --- CTA --- */

#cta a,
#cta button {
    z-index: 2;

    width: 50%;
    min-width: 150px;
    height: 8%;
    min-height: 2.5rem;
    max-height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    border: 1px solid black;
    border-radius: 2rem;

    box-shadow: 1px 1px 5px black;

    position: fixed;
    bottom: 0.8rem;
    left: 0;
    right: 0;

    background-color: var(--color-cta);

    text-align: center;
    text-decoration: none;

    color: white;
    font-size: 1.2rem;
    font-family: var(--font-family-cta);
    font-weight: var(--font-weight-cta);
    text-shadow: 0.2px 0.2px 1px black;
}

#cta a:active,
#cta button:active {
    box-shadow: 1px 1px 5px black, .5px .5px 5px black inset;
    text-shadow: 0.5px 0.5px 2px black;
}

#cta button {
    display: none;
    background-color: green;

}

/* --- button --- */

.button-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5rem;
    width: 5rem;
    margin: 1em;

    background-image: url(/assets/hexagon-frame.png);
    background-size: cover;
    background-repeat: none;
}

.button-logo a {
    width: 3rem;
    height: 3rem;

    background-size: cover;
    background-repeat: no-repeat;
}

.button-logo.back {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
}

.button-logo.back a {
    background-image: url(/assets/icon-arrow.png);
}

.my-story .button-logo a {
    background-image: url(/assets/icon-story.png);
}

.armory .button-logo a {
    background-image: url(/assets/icon-armory.png);
}

.skills .button-logo a {
    background-image: url(/assets/icon-skills.png);
}

.graveyard .button-logo a {
    background-image: url(/assets/icon-cemetery.png);
    margin-left: 0.3rem;
}


.button-title {
    width: 100%;
    text-align: center;
}

.button-title a {
    background-color: var(--color-background-text);

    color: var(--color-text-button);
    text-decoration: none;
    text-align: center;
    font-size: var(--font-size-button);
    font-family: var(--font-family);
    font-weight: var(--font-weight-cta);

    padding: 0.3rem;
    border-radius: var(--little-border-radius);
    border: 1px solid black;

    box-shadow: 1px 1px 5px black;
}

.button-title a:hover,
.button-title a:active {
    font-size: 110%;
    background: grey;
}


/* --- home-page --- */


#home-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    filter: drop-shadow(1px 1px 5px rgb(24, 69, 113));
}

#home-page .geralt-main {
    margin: 0 50%;
}

#home-page .geralt-pic {
    height: 75vw;
    width: 75vw;

    background-image: url(/assets/main-geralt-pic.png);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#home-page .geralt-name {
    color: var(--color-background-title);

    width: 100%;
    margin-top: 1rem;

    text-align: center;
    font-size: 8vw;
    font-family: var(--font-family);
    font-weight: var(--font-weight-cta);
}


/* --- section-page --- */

#section-page {
    margin-top: 8vh;
}

/* do not display geralt & section menu on mobile */
#section-page .button,
#section-page .geralt-main,
#section-page .geralt-name {
    display: none;
}

.section-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-button);
    border-radius: 0.7rem;
    border: 1px solid var(--color-text-title);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 2.5rem;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 7%;
    font-family: var(--font-size-title);
    text-align: center;
    align-items: center;
}

/* graveyard-page */

#graveyard,
#armory,
#skills,
#my-story {
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: var(--font-size-text-thanks);
    padding-top: 15%;
    padding-bottom: 25%;
}

h2 {
    text-align: center;
    line-height: 2.5rem;
    font-size: var(--font-size-title);
    color: var(--color-text-title);
}

.global-zone-text {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 1rem;
    border: 1px solid var(--color-text-title);
    border-radius: var(--big-border-radius);
    background-color: var(--color-background-text);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: var(--font-size-text);
}

span {
    text-decoration: underline;
}

#monsters li {
    display: flex;
    padding: 1rem 0;
}

#graveyard img {
    width: 8rem;
    height: 6rem;
    margin-right: 1rem;
    transition: 0.25s ease-in-out;
    border-radius: var(--little-border-radius);
}

#graveyard img:hover {
    transform: scale(2);
}


/* --- form-page --- */


#form-page,
#thanks-page,
#error-page {
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: var(--font-size-text-form);
    padding-top: 15%;
}

#form-page form {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 1rem;
    border: 1px solid var(--color-text-title);
    border-radius: var(--big-border-radius);
    background-color: var(--color-background-text);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#form-page .form-content {
    display: block;
    align-items: center;
    padding-bottom: 20%;
}

#form-page .form-title,
#thanks-page .thanks-title,
#error-page .error-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-button);
    border-radius: 0.7rem;
    border: 1px solid var(--color-text-title);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 2.5rem;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 7%;
}

#form-page h2,
#thanks-page h2,
#error-page h2 {
    text-align: center;
    line-height: 2.5rem;
    font-size: var(--font-size-title);
    color: var(--color-text-title);
}

#form-page ul {
    list-style: none;
}

#form-page form ul li label {
    display: block;
    width: 14rem;
    margin: 0.5rem auto 0.5rem auto;
    text-align: center;
}

#form-page form input,
select,
textarea {
    width: 12rem;
    box-sizing: border-box;
    font-family: var(--font-family);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#form-page form textarea {
    height: 4rem;
}


/* --- TABLET FORMAT --- */

@media screen and (min-width: 500px) {

    #home-page .geralt-pic {
        height: 40vw;
        width: 40vw;
    }

    #home-page .geralt-name {
        font-size: 4vw;
    }

    .button-logo {
        height: 6rem;
        width: 6rem;
        margin: 1.2em;
    }

    .button-title a {
        font-size: calc(var(--font-size-button)*1.1);
        font-family: var(--font-family);
        font-weight: var(--font-weight-cta);

        padding: 0.5rem 0.8rem;
        border-radius: var(--little-border-radius);
        border: 1px solid black;

        box-shadow: 1px 1px 5px black;
    }
}