:root {
    --color-cta: #0B5185;
    --color-frame: #314455;
    --color-button: #738186;
    --color-background-title: #566470, 0.5;
    --color-background-text: #B6BDC1, 0.1;
    --color-text-button: rgb(229, 229, 229);
    --color-text-title: rgb(17, 17, 17);
    --color-text: rgb(229, 229, 229);

    --font-family: "Julius Sans One", "Verdana", "Arial", "Garamond", "Calibri";
    --font-family-cta: "Inter", "Verdana", "Arial", "Garamond", "Calibri";
    --font-weight-cta: 900;

    --font-size-button: 1rem;
    --font-size-title: 1rem;
    --font-size-character-name: 1rem;
    --font-size-text: 1rem;

    --big-border-radius: 1rem;
    --little-border-radius: 0.3rem;

}

/* header */



/* footer */



/* CTA */



/* button */



/* home-page */



/* section-page */



/* form-page */