:root {
    --color-cta: #0B5185;
    --color-frame: #314455;
    --color-button: #738186;
    --color-background-title:rgb(86, 100, 112, 0.8);
    --color-background-text: rgb(182, 189, 193, 0.15);
    --color-text-button: rgb(229, 229, 229);
    --color-text-title: rgb(17, 17, 17);
    --color-text: rgb(229, 229, 229);

    --font-family: "Julius Sans One", "Verdana", "Arial", "Garamond", "Calibri";
    --font-family-cta: "Inter", "Verdana", "Arial", "Garamond", "Calibri";
    --font-weight-cta: 900;

    --font-size-button: 1rem;
    --font-size-title: 1rem;
    --font-size-character-name: 2rem;
    --font-size-text: 1rem;

    --big-border-radius: 1rem;
    --little-border-radius: 0.3rem;

}

body {}

/* header */



/* footer */



/* CTA */

#cta {
    width: 50%;
    height: 2rem;

    margin: 0 auto;
    position: fixed;
    bottom: 1rem;

    background-color: blue;

    border-radius: 1rem;

    text-align: center;
}

/* button */

.home>.button-logo {
    clip-path: polygon(100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%, 25% 6.7%, 75% 6.7%);
    width: 5rem;
    height: 5rem;
    background-color: var(--color-button);
    margin: 1rem;
    border-radius: var(--little-border-radius);
}

/* home-page */

body {
    background-image: url(/assets/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#home-page {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3rem;
}

.home>.button-title>a {
    background-color: var(--color-background-title);
    color: var(--color-text-button);
    text-decoration: none;
    text-align: center;
    font-size: var(--font-size-button);
    font-family: var(--font-family);
    padding: 0.2rem;
    border-radius: var(--little-border-radius);
}

.geralt-main-pic.home {

    clip-path: polygon(100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%, 25% 6.7%, 75% 6.7%);
    background-image: url(/assets/geralt-main.jpeg);
    width: 18.75rem;
    height: 18.75rem;
    margin : 3rem 3rem 0 3rem;
}

.geralt-name.home {
    color: var(--color-background-title);
    width: 75%;
    text-align: center;
    font-size: var(--font-size-character-name);
    font-family: var(--font-family);
}


/* section-page */



/* form-page */

