/* thanks-page */

#thanks-page {
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0%;
}

#thanks-page .thanks-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

    width: 70%;

    border: 1px solid var(--color-text-title);
    border-radius: var(--big-border-radius);

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--color-background-text);
}

#thanks-page p {
    text-align: center;
    margin-bottom: 2rem;
}

#thanks-page img {
    width: 70%;
    display: block;
    margin: 0.5rem auto;

    border-style: solid;
    border-radius: 0.8rem;
    border-width: 1px;
    border-color: black;
}